<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand nav-margin" [routerLink]="['/home']">{{getNavBarSite()}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item" [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['/home']">Home</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['/about']">About Me</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['/blogs']">Blogs</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['/projects']">Project Page</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Games
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li [routerLinkActive]="['active']"><a class="dropdown-item" [routerLink]="['/checkers']">Checkers</a></li>
            <li [routerLinkActive]="['active']"><a class="dropdown-item" [routerLink]="['/chess']">Chess</a></li>
          </ul>
        </li>

      </ul>

      <button class="btn settings" data-bs-toggle="modal" data-bs-target="#settingsModal">
        <i class="bi bi-gear-fill"></i>
      </button>

    </div>
  </div>
</nav>

<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Todo: Settings
      </div>
    </div>
  </div>
</div>
