.hide-toolbar .ql-toolbar {
    display: none;
    border-style: none;
}

.hide-toolbar .ql-container {
    border-style: none;
}

.ql-picker.ql-font .ql-picker-label[data-value="interSystemUi"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="interSystemUi"]::before
{
    font-family: "Inter", system-ui;
    content: "Inter";
}

.ql-picker.ql-font .ql-picker-label[data-value="Raleway"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Raleway"]::before
{
    font-family: "Raleway", cursive;
    content: "Raleway";
}

.ql-picker.ql-font .ql-picker-label[data-value="Arial"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="Arial"]::before
{
    font-family: "Arial", sans-serif;
    content: "Arial";
}

.ql-picker.ql-font .ql-picker-label[data-value="times"]::before, 
.ql-picker.ql-font .ql-picker-item[data-value="times"]::before
{
    font-family: "Times New Roman", Times, serif;
    content: "Times New Roman";
}

/* Set content font-families */
.ql-font-interSystemUi {
    font-family: "Inter", system-ui;
  }
.ql-font-times {
  font-family: "Times New Roman", Times, serif;
}
.ql-container.ql-font-Raleway {
  font-family: "Raleway"
}
/* Set content font-families */
.ql-font-Arial {
  font-family: "Arial";
}