<div style="background-color:white;" class="container-md">
    <div class="row spacer"></div>
    <div class="row">
        <div class="col-lg-5 col-md-10">
            <img src="../../assets/edisonearnest_assets/nav-assets/selfie_4.jpg" class="rounded mx-auto d-block selfie" alt="me">
        </div>
        <div class="col-lg-5 col-md-10">
            <div class="inner-about-text">
                <h2>The Short</h2>
                <p>{{shortText}}</p>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="inner-about-text">
                <h2>The Long</h2>
                <p>{{longText}}</p>
            </div>
        </div>
    </div>
    <div class="row spacer"></div>
</div>
