$spacer-length: 80px;

.spacer{
    height: $spacer-length;
}

.selfie{
    height: 400px;
}
p {
    white-space: pre-wrap;
}

img{
    margin-bottom: 50px;
}

.inner-about-text{
    margin: 20px;
}

.inner-about-text p{
    font-size: 25px;
}

.container-md{
    // calculation so content is scrollable instead of the html -> 80px for the size of navbar
    height: calc(100% - 80px);
    overflow: auto;
}