.spacer{
    height: 80px;
}

.selfie{
    height: 400px;
}
p {
    white-space: pre-wrap;
}

img{
    margin-bottom: 50px;
}

.inner-about-text{
    margin: 20px;
}

.inner-about-text p{
    font-size: 25px;
}
