<app-nav-image></app-nav-image>

<div style="background-color:white;" class="container-md scrollbar">
    <div class="center">
        <h1 class="display-4">Welcome to my site!</h1>
        <br>
        <h5>This is just a place where I mess around with web projects, and showcase some of the other things I work on.</h5>
        <br>
        <h5>There's always room for improvement, and I have plenty of bad ideas to try out.</h5>
        <br>
        <h5>Enjoy, and feel free to email admin@edisonearnest.com with any questions.</h5>
        <br>

        <a href="https://github.com/edysune">
            <i class="bi bi-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/edison-earnest-3275501b6">
            <i class="bi bi-linkedin"></i>
        </a>
    </div>
</div>