<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a [routerLink]="['/home']" class="btn btn-primary btn-lg"><span></span>Take Me Home </a>
                    <a (click)="showToast()" class="btn btn-primary btn-lg"><span></span>Click Me To Make Me Feel Better</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11">
  <div id="toastBody" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Oops</strong>
      <small></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"> {{currentToastMessage}}</div>
  </div>
</div>
