    
<div class="card blog-card"
    (click)="blogClicked()"
    [ngClass]=" isMobile ? 'mobile-card' : 'desktop-card'"
    [class.activated] = "isActivated">

    <div class="card-content">
        <h6 class="card-subtitle">{{model.date | date: 'MM/dd/yyyy'}}</h6>
        <div class="tags" *ngFor="let tag of model.tags">
            <h4><span class="badge bg-secondary">{{tag}}</span></h4>
        </div>

        <img src={{model.image}} class="card-img-top img-fluid" alt={{model.title}}>
        <div class="card-body">
            <h5 class="card-title">{{model.title}}</h5>
            <p class="card-text">{{model.description}}</p>
            <p *ngIf="isActivated"> CONTENT IS BEING SHOWN                  [X]</p>
        </div>
    </div>
</div>
<div class="row spacer"></div>