.center {
    margin-top: -100px;
    padding: 150px 0 0 0;
    text-align: center;
}

.blog-search {
    float: right;
    padding-left: 5vh;
}

button > i {
    font-size: 32px;
    padding: 10px;
}

button {
    padding:  0px;
    margin-right: 50px;
}

input {
    width: 40vh;
    display: inline-block
}


.container-md{
    // calculation so content is scrollable instead of the html
    //  -> 70px for the size of navbar
    //  -> 40vh for the size of the nav-image
    height: calc(100% - 70px);
    overflow: auto;
}