.center {
    margin-top: -100px;
    padding: 150px 0 0 0;
    text-align: center;
}

.blog-search {
    float: right;
}

.search-blog-input {
    width: 15em;
}

button > i {
    font-size: 32px;
    padding: 10px;
    position: relative;

}

button {
    padding:  0px;
    margin-right: 50px;
}

input {
    width: 40vh;
    display: inline-block
}


.container-md{
    // calculation so content is scrollable instead of the html
    //  -> 80px for the size of navbar
    //TODO: may need to come back to this as it doeesn't seem like it fits exactly for mobile
    height: calc(100% - 80px);
    overflow: auto;
}