<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light grey lighten-2">

    <mdb-navbar-brand><a class="navbar-brand" href="#">{{getNavBarSite()}}</a></mdb-navbar-brand>
  
    <links>
  
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Project Page</a>
            </li>
  
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Games<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Checkers</a>
                </div>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Blog<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Hello World!</a>
                </div>
            </li>
        </ul>
  
        <!-- Search form -->
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link">
                <mdb-icon fas icon="cog"></mdb-icon>
              </a>
            </li>
        </ul>

        <!-- Search form -->
        <!-- <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form> -->

    </links>
  </mdb-navbar>
